@import 'modules/header.css';
@import 'modules/footer.css';

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.content{
    width: 100%;
    position: absolute;
    top: 10%;
    margin: auto;
    padding: 2em;
}

.form-control{
    width: 50%;
}