<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Sign In</title>
</head>
<section layout:fragment="content">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
    <form th:action="@{/login}" method="post">
        <div><label> Email: <input type="email" class="form-control" name="email"/> </label></div>
        <div><label> Password: <input type="password" class="form-control" name="password"/> </label></div>
        <div><button type="submit" class="btn btn-primary">Sign in</button></div>
    </form>
</section>