<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Update Profile</title>
</head>
<section layout:fragment="content">
    <h1>Update profile</h1>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
    <form th:action="@{/profile/edit}" th:object="${user}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Last name</label>
            <input type="text" class="form-control" th:field="*{lastName}"/>
            <p th:each="error: ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Photo</label>
            <input type="file" name="file" class="form-control" accept="image/png, image/jpeg" th:field="*{photo}"/>
            <p th:each="error: ${#fields.errors('photo')}"
               th:text="${error}">Validation error</p>
            <img th:src="${#authentication.getPrincipal().getPhotoPath()}" />
        </div>
        <button type="submit" class="btn btn-primary" value="Save">Save</button>
    </form>
</section>
</html>